

#anima-div{
    width: 1600px;
    height: 1280px;
    background: #6f00ff;
    position: relative;
    /*border-radius: 50%;*/
    animation: mov-div 1s infinite;
}



/*
@keyframes mov-div{

    from{top:0px;}
    to{top:300px}
}*/



/*
@keyframes mov-div{

       0% {top:0px;}
        25%{top:250px;}
         50%{top:50px;}
         75%{top:500px;}
         100%{top:0px;
}*/




@keyframes mov-div{
    0%{top:0px; left:0px; background: #b60707 }
    25%{top:0px; left:300px; background: #041dff }
    50%{top:300px; left:300px; background: #ff0faf }
    75%{top:300px; left:0px; background: #f7e600 }
    100%{top:0px; left:0px; background: #000000 }
}

/*
@keyframes mov-div{
    0%{width:0px; background: #cf0000}
    50%{width:300px; background: #0044ff}
    100%{width:0px; background: #48ff00}
}/*